.footer {
  background: #e0e0e0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  @media (max-width: 992px) {
    text-align: center;
  }

  .footer-menu {
    padding: 50px 0;
    display: table;
    float: left;
    width: calc(100% - 680px);

    @media (max-width: 992px) {
      display: block;
      width: 100%;
      padding: 25px 0;
    }

    .navbar-brand {
      float: none;
      display: table-cell;
      vertical-align: middle;
      margin: 0;
      padding: 0;

      @media (max-width: 992px) {
        display: block;

        img {
          margin: 0 auto;
        }
      }
    }

  }

  .social-buttons {
    height: 110px;
    width: 680px;
    position: relative;
    overflow: hidden;
    float: right;
    padding: 40px 0 0;

    .social-button {
      margin-left: 5px;
      span {
        display: none;
      }
    }

    @media (max-width: 992px) {
      width: 280px;
      float: none;
      height: 65px;
      margin: 0 auto;
      padding: 0;
      .social-button {
        &.icon-rss, &.vk, &.icon-linkedin, &.icon-youtube, &.icon-googleplus {
          display: none;
        }
      }
    }
  }

  small {
    font-size: 12px;
    text-align: center;
    display: block;
    line-height: 36px;
  }
}
#sidebar-footer{
  overflow: hidden;
  width: 0;
  height: 0;
  * {
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    line-height: 0;
    list-style: none;
    font-size: 0;
    color: transparent;
    background: transparent;
  }
}